@import 'tailwindcss';
@import 'tailwindcss/theme.css' theme(static);
@import '@nuxt/ui';
@import './flex-utilities.css';
@import './owl-utilities.css';

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}
